@import 'global';

.contentFeature63 {
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	align-items: center;
	transform: translateY(-80%);

}

.contentFeature63 p {
	margin: 0;
}

.imageContainer63 {
	position: absolute;
	width: 900px;
	max-height: 600px;
	z-index: 0;
	transform: translateX(-10vw);
	/* background-color: aliceblue; */
}

.bigImage63 {
	margin: 0;
}

.textContainer63 {
    // margin:auto;
	position: absolute;
	color: #525251;
	z-index: 1;
	max-width: 800px;
	/* max-height: 570px; */
	width: 45vw;
	height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// align-items: left;
	transform: translateX(0vw);
    text-align: center;
}

/* TEXT */

.categoryName63 {
	font-size: 22px;

}

.title63 {
	font-size: 36px;
	line-height: 1em;
	text-align: center;
	font-family: 'AriaText-SemiBold', sans-serif;
}

.body63 {
	font-size: 20px;
	// line-height: 1em;
	text-align: center;
	font-family: 'Raleway-Regular', sans-serif;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.subTitle63 {
	font-size: 40px;
}

.bodyText63 {
	font-size: 22px;
}

.callToAction63 {
	font-size: 24px;
	text-decoration: underline;	
}

// @media screen and (max-width: 1514px) {

// 	.contentFeature63 {
// 		transform: translateY(20%);
// 	}

// 	.body63 {
// 		width: 145%;
// 		// width: 700px;
// 		font-size: 15px;
// 		// text-align: center;
// 		transform: translateX(-15%) translateY(0%);
// 	}

// 	.title63 {
// 		font-size: 20px;
// 		text-align: center;
// 	}
// }

// @media screen and (max-width: 1414px) {

// 	.contentFeature63 {
// 		transform: translateY(20%);
// 	}

// 	.body63 {
// 		width: 145%;
// 		// width: 700px;
// 		font-size: 15px;
// 		// text-align: center;
// 		transform: translateX(-15%) translateY(0%);
// 	}

// 	.title63 {
// 		font-size: 20px;
// 		text-align: center;
// 	}
// }

// @media screen and (max-width: 1314px) {

// 	.contentFeature63 {
// 		transform: translateY(20%);
// 	}

// 	.body63 {
// 		width: 145%;
// 		// width: 700px;
// 		font-size: 15px;
// 		// text-align: center;
// 		transform: translateX(-15%) translateY(0%);
// 	}

// 	.title63 {
// 		font-size: 20px;
// 		text-align: center;
// 	}
// }

// @media screen and (max-width: 1614px) {

// 	.contentFeature63 {
// 		transform: translateY(35%);
// 	}

// 	.body63 {
// 		width: 145%;
// 		// width: 700px;
// 		font-size: 15px;
// 		// text-align: center;
// 		transform: translateX(-15%) translateY(0%);
// 	}

// 	.title63 {
// 		font-size: 20px;
// 		text-align: center;
// 	}
// }

@media screen and (max-width: 1414px) {

	.contentFeature63 {
		transform: translateY(24%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 20px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 20px;
		text-align: center;
	}
}

@media screen and (max-width: 1214px) {

	.contentFeature63 {
		transform: translateY(35%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 18px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 18px;
		text-align: center;
	}
}

@media screen and (max-width: 1014px) {

	.contentFeature63 {
		transform: translateY(35%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 15px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 15px;
		text-align: center;
	}
}

@media screen and (max-width: 914px) {

	.contentFeature63 {
		transform: translateY(35%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 15px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 15px;
		text-align: center;
	}
}

@media screen and (max-width: 814px) {

	.contentFeature63 {
		transform: translateY(15%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 15px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 15px;
		text-align: center;
	}
}

@media screen and (max-width: 714px) {

	.contentFeature63 {
		transform: translateY(30%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 15px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 15px;
		text-align: center;
	}
}

@media screen and (max-width: 614px) {

	.contentFeature63 {
		transform: translateY(5%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 15px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 15px;
		text-align: center;
	}
}

@media screen and (max-width: 514px) {

	.contentFeature63 {
		transform: translateY(5%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 12px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
	}

	.title63 {
		font-size: 12px;
		text-align: center;
	}
}

@media screen and (max-width: 414px) {

	.contentFeature63 {
		transform: translateY(-47%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 12px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
		line-height: normal;
	}

	.title63 {
		font-size: 18px;
		text-align: center;
		display: block;
		// max-width: 800px;
		min-width: 500px;
		width:100%;
		// margin-right: 2px;
		// margin-left: 2px;
		transform: translateX(-33%);
	}
}

@media screen and (max-width: 375px) {

	.contentFeature63 {
		transform: translateY(-30%);
	}

	.body63 {
		width: 145%;
		// width: 700px;
		font-size: 12px;
		// text-align: center;
		transform: translateX(-15%) translateY(0%);
		line-height: normal;
	}

	.title63 {
		font-size: 18px;
		text-align: center;
		max-width: 100%;
	}
}