@import 'global';

.quote2_container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote2_container h1 {
    margin: 0;
    font-size: 32px;
}

.author_subtitle {
    font-family: 'Photograph-Signature', sans-serif;
  }

.quote2_text {
    font-family: 'AriaText-SemiBold', sans-serif;
    margin: 30px 0;
}

.quote2_logo_container {
    margin: 20px 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote2_logo_line {
    width: 28px;
    height: 3px;
    background-color: var(--primary-pink);
}

.quote2_logo_text {
    padding: 0 10px;
}

.quote_2_text_pink {
    color: var(--primary-pink);
}

.quote_2_text_black {
    color: var(--primary-black);
}

.quote2_text1_container {
    // margin: 50px 0;
    width: 600px;
    text-align: center;
    font-size: 50px;
    font-family: 'AriaText-SemiBold', sans-serif;
}

.quote2_text2_container {
    // margin: 50px 0;
    width: 600px;
    text-align: center;
    font-size: 50px;
    font-family: 'AriaText-SemiBold', sans-serif;
    transform: translateY(-40%);
}

.quote2_subtitle_container {
    // margin: 50px 0;
    width: 450px;
    text-align: center;
    font-size: 25px;
    font-family: 'Photograph-Signature', sans-serif;
    transform: translateY(-40%);
}

// @media screen and (max-width: 1260px) {
// 	.textContainer {
//         max-width: 55%;
//     }
// }

// @media screen and (max-width: 900px) {
// 	.textContainer {
//         max-width: 65%;
//     }
// }

// @media screen and (max-width: 768px) {
//     .quoteContainer {
//         position: relative;
//         width: 100vw;
//         height: 300px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }

// 	.textContainer {
//         max-width: 80%;
//     }

//     .openingQuoteContainer {
//         max-width: 40px;
//         transform: translateY(-70px);
//         z-index: 2;
//     }
    
//     .closingQuoteContainer {
//         max-width: 40px;
//         transform: translateY(80px);
//         z-index: 2;
//     }
    
//     .quoteText {
//         font-size: 22px;
//     }
      
// }

// @media (max-width: 1614px) {
//     .quote2_container {
//         transform: translateY(-40%);
//     }
    
//     .quote2_logo_container {
//         transform: translateY(400%);
//     }

//     .quote2_text_container {
//         // margin: 50px 0;
//         width: 600px;
//         font-size: 35px;
//         transform: translateY(70%);
//     }
    
//     .quote2_subtitle_container {
//         // margin: 50px 0;
//         width: 200px;
//         text-align: center;
//         font-size: 30px;
//         transform: translateY(150%);
//     }
// }

@media (max-width: 1414px) {
    .quote2_container {
        transform: translateY(-40%);
    }
    
    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 600px;
        font-size: 35px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 30px;
        transform: translateY(150%);
    }
}

@media (max-width: 1214px) {
    .quote2_container {
        transform: translateY(-40%);
    }
    
    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 600px;
        font-size: 35px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 30px;
        transform: translateY(150%);
    }
}

@media (max-width: 1014px) {
    .quote2_container {
        transform: translateY(-40%);
    }
    
    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 600px;
        font-size: 35px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 30px;
        transform: translateY(150%);
    }
}

@media (max-width: 914px) {
    .quote2_container {
        transform: translateY(-40%);
    }
    
    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 600px;
        font-size: 35px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 30px;
        transform: translateY(150%);
    }
}

@media (max-width: 814px) {
    .quote2_container {
        transform: translateY(-40%);
    }
    
    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 600px;
        font-size: 35px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 30px;
        transform: translateY(150%);
    }
}

@media (max-width: 714px) {
    .quote2_container {
        transform: translateY(-40%);
    }

    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 600px;
        font-size: 35px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 30px;
        transform: translateY(150%);
    }
}


@media (max-width: 614px) {
    .quote2_container {
        transform: translateY(-60%);
    }

    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 400px;
        font-size: 25px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 20px;
        transform: translateY(150%);
    }
}

@media (max-width: 514px) {
    .quote2_container {
        transform: translateY(-50%);
    }

    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text_container {
        // margin: 50px 0;
        width: 400px;
        font-size: 25px;
        transform: translateY(70%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 20px;
        transform: translateY(150%);
    }
}

@media (max-width: 414px) {

    .quote2_container {
        transform: translateY(-100%);
    }

    .quote2_logo_container {
        transform: translateY(400%);
    }

    .quote2_text1_container {
        // margin: 50px 0;
        width: 400px;
        font-size: 25px;
        transform: translateY(130%);
    }

    .quote2_text2_container {
        // margin: 50px 0;
        width: 400px;
        font-size: 25px;
        transform: translateY(80%);
    }
    
    .quote2_subtitle_container {
        // margin: 50px 0;
        width: 200px;
        text-align: center;
        font-size: 20px;
        transform: translateY(80%);
    }

    @media (max-width: 375px) {

        .quote2_container {
            transform: translateY(-57%);
            
        }
    
        .quote2_logo_container {
            transform: translateY(400%);
        }
    
        .quote2_text1_container {
            // margin: 50px 0;
            width: 400px;
            font-size: 25px;
            transform: translateY(130%);
        }

        .quote2_text2_container {
            // margin: 50px 0;
            width: 400px;
            font-size: 25px;
            transform: translateY(65%);
        }
        
        .quote2_subtitle_container {
            // margin: 50px 0;
            width: 200px;
            text-align: center;
            font-size: 20px;
            transform: translateY(35%);
        }
    }


    // .quote2_logo_line {
    //     transform: translateY(90%);
    // }
    
    // .quote2_logo_text {
    //     transform: translateY(90%);
    // }
    
    // .quote_2_text_pink {
    //     transform: translateY(90%);
    // }
    
    // .quote_2_text_black {
    //     transform: translateY(90%);
    // }
}